<%- include('header') %>
    <div class="container-fluid login-form-container d-flex align-items-center justify-content-center">
        <div class="login-box">
            <h1>Login Form</h1>
            <form action="/route/login" method="POST" class="d-flex flex-column gap-3 w-75">
                <input type="email" placeholder="Enter email" name="email" required class="form-control">
                <input type="password" placeholder="Enter password" name="password" required class="form-control">
                <p class="error-message"> <%= locals.errorMessage?"invalid username or password" :"" %> </p>
                <button type="submit" value="submit" class="btn btn-primary">Login</button>
            </form>
            <p class="text-white">Don't have account? <a href="#">Register</a></p>
        </div>
    </div>


    <%- include('footer') %>